<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="css/style.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <title>Pay my buddy web application</title>

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header img">
            <img alt="Brand" src="css/logo.JPG">
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home">Home</a></li>
                <li><a href="/transfer">Transfer</a></li>
                <li><a href="/transactions">Transaction</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/logout">Log off</a></li>
            </ul>
        </div>
    </div>
</nav>

<ol class="breadcrumb ">
    <li><a href="/home">Home</a></li>
    <li class="active">AddTransfer</li>
</ol>

<div class="container special">

    <br>
    <div>
        <a href="/transfer">
            <button class="btn btn-secondary btn-sm pull-left" type="submit">
                < Back
            </button>
        </a>
    </div>
    <br><br>

    <h2 class="h2">Add a new bank transfer</h2>
    <div>
        <form method="post"
              th:action="@{/createTransfer}" th:object="${transfer}">

            <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}" >
                <p th:errors="*{global}"></p>
            </div>

            <div class="row">
            <div class="form-group col-xs-6">
                <label for="idBankAccountInput">Bank account</label>
                <select class="form-control" th:field="*{idBankAccount}">
                    <option th:each="bankAccount : ${bankAccount}"
                            th:value="${bankAccount.accountId}"
                            th:text="${bankAccount.name}"></option>

                </select>
                <small id="form-text text-muted" class="form-text text-muted">Select a bank account.</small>
            </div>
            </div>
                <div class="row">
            <div class="form-group col-xs-6">
                <label for="amount">Transfer amount</label>
                <input
                        type="text" th:field="*{amount}" class="form-control" id="amountInput"
                        aria-describedby="amountHelp" placeholder="Enter the amount">
                <small id="amountHelp" class="form-text text-muted">Enter the transfer amount.<br>
                Min = 1 - Max = 999</small>
                <p th:if="${#fields.hasErrors('amount')}" class="label label-danger" th:errors="*{amount}"></p>
            </div>
                </div>
            <div class="row">
            <div class="form-group col-xs-6">
                <label for="transferType">Transfer type</label>
                <select class="form-control" th:field="*{transferType}">
                    <option th:value="'CREDIT'" th:text="CREDIT"></option>
                    <option th:value="'DEBIT'" th:text="DEBIT"></option>
                </select>
                <small id="transferTypeHelp" class="form-text text-muted">Select the transfer type <br>
                    CREDIT : to credit my balance on Pay my buddy and debit my bank account<br>
                    DEBIT : to debit my balance on Pay my buddy and credit my bank account</small>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>