<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="css/style.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <title>Pay my buddy web application</title>

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img alt="Brand" src="css/logo.JPG">
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home">Home</a></li>
                <li><a href="/transfer">Transfer</a></li>
                <li><a href="/transactions">Transaction</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/logout">Log off</a></li>
            </ul>
        </div>
    </div>
</nav>

<ol class="breadcrumb ">
    <li><a href="/home">Home</a></li>
    <li class="active">Transfer</li>
</ol>

<div class="container special">
    <div class="row">
        <balance class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <h2 class="h2">My balance</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm table table-bordered">
                    <thead>
                    <tr>
                        <th class="green"> My current balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user: ${user}">
                        <td><span th:text="${user.balance}+ ' €'"> </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </balance>
    </div>
</div>

<div class="container special">
    <div class="row align-items-end">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="h2">My bank transfers</h2>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="/createTransfer">
                <button type="submit" class="btn btn-primary pull-right">Add a new bank transfer</button>
            </a>
        </div>
    </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm table table-bordered">
                <thead class="green">
                <tr>
                    <th> Date</th>
                    <th> Bank account</th>
                    <th> Transfer type</th>
                    <th> Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${transfer.empty}">
                    <td colspan="4">No transfer yet</td>
                </tr>
                <tr th:each="transfer: ${transfer}">
                    <td><span th:text="${transfer.date}"> Date </span></td>
                    <td><span th:text="${bankAccount.name}"> Bank account </span></td>
                    <td><span th:text="${transfer.transferType}"> Transfer type </span></td>
                    <td><span th:text="${transfer.amount}+ ' €'"> Amount </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
